# Git and CI
.git/
.github/

# Local dev tools
.openhands/

# Build artifacts
__pycache__/
**/*.egg-info/
build/
dist/

# Data, logs, DB
data/
logs/
*.log
*.sqlite*

# Virtualenvs
env/
venv/
.venv/

# Secrets and local config
.env*
.direnv
fly.toml
flake.*

# IDE
.vscode/
.idea/
