# Git
.git
.gitignore

# Fly
fly.toml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/

# Django
logs/
*.log
local_settings.py
*.sqlite3
*.sqlite3-journal
media

# Environments
.env
.envrc
.direnv
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
shell.nix
.aider*

# Editor directories and files
.idea
.vscode

# Docker
.dockerignore
Dockerfile
docker-compose.yml
