# Git
.git
.gitignore
.git/
.ai/
.openhands/
.github/

# Development
data/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/

# Logs and DB
logs/
*.log
*.sqlite3
*.sqlite3-journal

# Environments
.env
.envrc
.direnv
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
fly.toml
flake.nix
flake.lock
*.egg-info/

# Editor directories and files
.idea
.vscode

# Docker
.dockerignore
Dockerfile
docker-compose.yml
.flake8
