[flake8]
max-line-length = 200
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    .direnv,
    .venv,
    venv,
    */migrations/*,
    *.html,
    *.css,
    *.js,
    media,
    logs,
    *.md


# Focus on the most important issues first
select = E,F,W,C90,B,S  # Added B (Bandit) and S (basic security)

# Complexity threshold
max-complexity = 10

# autopep8 --in-place --recursive --select=W291,W292,W293,E302,E303 .
