# Byte-compiled / C extensions
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
.env
.envrc
.direnv
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Egg info
**/*.egg-info/

# IDEs and Editors
.vscode/
.idea/

# OS generated
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Deployment data
data/