# Aider
.aider*
!.aider.conf.yml
prompt.md

# Editor directories and files
.idea/

# Environment
.env
.direnv

# Python
__pycache__

# Django
logs/
*.log
staticfiles/
media/

# Databases
*.sqlite3
*.sqlite3-journal

# Deployment
data/