version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: caf_gpt:latest
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/code:cached
