services:
  web:
    build:
      context: .
      dockerfile: Dockerfile # Explicitly state the Dockerfile name
    image: caf_gpt
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env