# Web Framework
fastapi==0.123.5
uvicorn[standard]==0.38.0

# Data Validation and Settings
pydantic==2.12.5
pydantic-settings==2.12.0
python-dotenv==1.2.1

# HTTP Requests
requests==2.32.5

# Email Handling
email-validator==2.3.0
imap-tools==1.11.0
yagmail==0.15.293
jinja2==3.1.6

# Storage
boto3==1.42.2

# Logging
structlog==25.5.0

# Development
black==25.11.0
mypy==1.19.0
pytest==8.4.2
