# Web Framework
fastapi==0.115.6
uvicorn[standard]==0.32.1

# Data Validation and Settings
pydantic==2.10.5
pydantic-settings==2.7.1
python-dotenv==1.0.1

# HTTP Requests
requests==2.32.3

# Email Handling
email-validator==2.2.0

# Storage
boto3==1.35.89

# Logging
structlog==24.4.0

# Development
black==24.10.0
mypy==1.14.1
pytest==8.3.4
