<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="font-family: Calibri, Arial, sans-serif; font-size: 11pt; color: #000000;">
    <div>
        {{ reply_body }}
    </div>

    {% if original %}
    <div style="border:none;border-top:solid #E1E1E1 1.0pt;padding:3.0pt 0cm 0cm 0cm;margin-top:15pt;">
        <p style="margin:0;"><b>From:</b> {{ original.from_addr }}<br>
        <b>Sent:</b> {{ original.date }}<br>
        <b>To:</b> {{ original.to | join('; ') }}<br>
        {% if original.cc %}<b>Cc:</b> {{ original.cc | join('; ') }}<br>{% endif %}
        <b>Subject:</b> {{ original.subject }}</p>
    </div>
    <div style="margin-top:10pt;">
        {{ original.body | replace('\n', '<br>') | safe }}
    </div>
    {% endif %}
</body>
</html>
