{% extends "core/base.html" %}
{% load static %}

{% block title %}Welcome to CAF GPT{% endblock %}

{% block content %}
<div class="row align-items-center py-5">
    <div class="col-md-6">
        <h1 class="display-4 fw-bold">Welcome to CAF GPT</h1>
        <p class="lead">A powerful AI assistant platform designed to help you with various tasks.</p>
        <hr class="my-4">
        <p>Choose one of our specialized assistants below to get started.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="{% url 'pacenote_foo:pace_notes' %}" class="btn btn-primary btn-lg px-4 me-md-2">PaceNote Assistant</a>
            <a href="{% url 'policy_foo:chat_interface' %}" class="btn btn-outline-secondary btn-lg px-4">Policy Assistant</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="p-5 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-robot" viewBox="0 0 16 16">
                <path d="M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5ZM3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.58 26.58 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.933.933 0 0 1-.765.935c-.845.147-2.34.346-4.235.346-1.895 0-3.39-.2-4.235-.346A.933.933 0 0 1 3 9.219V8.062Zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a24.767 24.767 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25.286 25.286 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135Z"/>
                <path d="M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2V1.866ZM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5Z"/>
            </svg>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">PaceNote Assistant</h5>
                <p class="card-text">Interact with our AI to get answers to your questions using our RAG system.</p>
                <a href="{% url 'pacenote_foo:pace_notes' %}" class="btn btn-primary">Try PaceNote</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Policy Assistant</h5>
                <p class="card-text">Get information about policies and procedures with our specialized policy assistant.</p>
                <a href="{% url 'policy_foo:chat_interface' %}" class="btn btn-primary">Try Policy Assistant</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">About CAF GPT</h5>
                <p class="card-text">CAF GPT is a platform that provides AI-powered assistants for various use cases.</p>
                <a href="#" class="btn btn-outline-secondary">Learn More</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}